<div class="space-y-0.5">
	@foreach (var item in Files)
	{
		<FileTreeItem File="@item"
					  IsSelected="@(SelectedFile?.Path == item.Path)"
					  OnClick="() => OnFileSelected.InvokeAsync(item)"
					  OnRename="() => OnFileRenamed.InvokeAsync(item)"
					  OnDelete="() => OnFileDeleted.InvokeAsync(item)" />
	}
</div>

@code {
	[Parameter] public List<ProjectFile> Files { get; set; } = new();
	[Parameter] public ProjectFile? SelectedFile { get; set; }
	[Parameter] public EventCallback<ProjectFile> OnFileSelected { get; set; }
	[Parameter] public EventCallback<ProjectFile> OnFileRenamed { get; set; }
	[Parameter] public EventCallback<ProjectFile> OnFileDeleted { get; set; }
}