@page "/"



<div class="flex flex-1 flex-row flex-wrap">
	<aside class="basis-1/5">
		Sidebar
	</aside>
	<main class="flex-1 flex-shrink-3 whitespace-nowrap">
		Main Content
	</main>

	<aside class="basis-1/5">
		Aside
	</aside>
</div>

