@page "/"



<div class="grid grid-cols-[1fr_3fr_1fr] flex-1">
	<aside class="">Sidebar</aside>
	<main class="">Main Content</main>
	<aside class="">Aside</aside>
</div>

<div class="flex-1 flex">
	<aside class="w-1/5">Sidebar</aside>
	<main class="flex-1">Main Content</main>
	<aside class="w-1/5">Aside</aside>
</div>