@using Zhg.FlowForge.App.Shared.Services
@using Zhg.FlowForge.App.Shared.VM

@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILocalizationService LocalizationService

<div class="container-full-xl">
	<div class="flex min-h-screen flex-col">
		<header id="main-header"
				class="sticky-top bg-gray-800">
            <NavBar  />

        </header>

		<main class="flex flex-1 flex-col p-4">
			@Body
		</main>

		<footer class="bg-gray-800 p-4 text-white">Footer</footer>
	</div>
</div>

@code {
	// [Inject]
	// private ScrollService ScrollService { get; set; } = default!;

	// protected override async Task OnAfterRenderAsync(bool firstRender)
	// {
	// 	if (firstRender)
	// 	{
	// 		await ScrollService.InitializeAsync();
	// 	}
	// }
}
